:root{
    --primary-blue:#00aeff;
    
    --text:#4f4f4f;
    
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    
}
header{
    
    z-index: -10;
    
    height: 23.79rem;
}

a{
    text-decoration: none;
}


.hstitle section h3{
    color:var(--text);
    font-family: "Noto Sans Ethiopic", sans-serif ;
    font-size: 1.4rem;
    font-weight: 650;
    letter-spacing: -0.5px;
}
.hstitle section p{
    color: var(--text);
    font-family: "Noto Sans Ethiopic", sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
    margin-top: -0.1rem;
}

.hstitle section hr{
    height: 3px;
    background-color: var(--primary-blue);
    border:none;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width:4rem;
    
}
.hstitle{
    text-align: center;
    margin: auto;
}














nav h1{
    font-family: "Noto Sans ", sans-serif;
    font-size: 28px;
    font-weight:401;
    letter-spacing: -2px;
    padding:0.5rem;
    display: inline-block;
    color:white;
    line-height: 2.7rem;
    margin-left:-1.73rem;
    /* background-color: red; */
}
nav{
    background-color: var(--primary-blue);
    text-align: center;
    height:3.75rem;
    position: relative;
    z-index: 10;
}
.insidenav{
    height: inherit;
    display: flex;
    /* background-color: grey; */
    width:90%;
    margin:auto;
    justify-content: space-between;
}
nav ul{
    
    display: inline-block;
    
    /* background-color: green; */
    
    overflow: visible;
    
}
nav li{
    padding:1rem;
    list-style-type: none;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
    height: 100%;
    margin:0;
    
}
nav a{
    text-decoration: none;
    color:white;
    font-family: sans-serif;
}
nav ul li #whatsapp{
    
    
    width:2.3rem;
}
#account{
    border-right:none;
    margin-right:-1rem;
}
#whatsappicon{
    
    display: flex;
    margin-top: 2px;
    justify-content: center;
    align-items: center;
}
#whatsappicon button{
    all:unset;
    cursor: pointer;
}
nav ul li i#profile{
    border-radius: 100%;
    
    padding:0.5rem;
    margin-right: 0.5rem;
    background-color: white;
    color:var(--primary-blue);
}
#contact{
    
    float:left;
    
    border-radius: 50%;
    width: 2.3rem;
    margin-right: 0.5rem;
}
.contactlist{
    background-color: #084482;
    padding-right: 10px;
    border-radius: 50px;
    width: 15rem;
}
.contactlist p{
    font-size: 10px;
    color:var(--primary-blue);
    margin-top: 5px;
}
.contactlist span{
    font-size: 15px;
    margin-right:10px;
}

.dropdown{
    position: relative;
    
}
.dropdown:hover .dropcont{
    display: inline-block;
    animation-name: dropdown;
    animation-duration: 1s;
}
#dropcurrency{
    right:0;
    bottom: -15.5rem;
    width:15rem;
    overflow: hidden;
    text-align: left;
    font-size: 0.9rem;
}
#dropcurrency div{
    width:100%;
    padding: 0.7rem 2rem;
}
#dropcurrency div:nth-child(2){
    background-color: var(--primary-blue);
    color:white;
}
#dropcurrency .message:hover{
    background-color: white;
    
}
#dropcurrency .message{
    padding:1rem;
}
.dropcont{
    display: none;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 5px;
    bottom:-13.5rem;
    right: 1.5rem;
    overflow: hidden;
    z-index: 100;
    
}
@keyframes dropdown{
    from{
        transform: translateY(-3.5rem);
        opacity: 0;
    }
}



.dropcont *{
    color:black;
    padding: 0.5rem;
    width: max-content;
    transition: all 0.3s;
}
.dropcont *:hover{
    background-color: hsl(0, 0%, 95%);
}
.dropcont i{
    
    
}
.currency{
    
    width: 40px;
    height:25px;
    margin-right:0.5rem;
    
}
#caret{
    margin-left: 0.2rem;
}












.forheaderimg{
    background-image: url(Images/headerbackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-attachment: auto;
    
    height:20.04rem;
    margin: 0;
}
.imagedarkener{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(54, 54, 54, 0.500);
    
    
}
.headermessage{
    
    display: inline-block;
    text-align: center;
    width:80%;
}
.headermessage h1,h3{
    font-family: "Noto Sans Ethiopic" , sans-serif;
    color:white;
    
    margin-bottom: 0.7rem;
}
.headermessage h1{
    font-size: 2.2rem;
    font-weight:600;
    letter-spacing: -0.7px;
}
.headermessage h3{
    font-size:1.25rem;
    font-weight: 450;
}

.formcontainer{
    position:sticky;
    margin-top: 2.5rem;
    top:0rem;
    /* background-color: rgba(255, 0, 0, 0.353); */
    height:4rem;
    text-align: center;
    z-index: 20;

}

.formcontainer form{
    margin: auto;
    position: sticky;
    top:-2rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    gap:6px;
    width: 69rem;
    padding:2.5rem;
    position: relative;
    z-index: 20;
    box-shadow: 0px 0px 17px 0.7px rgba(93, 93, 93, 0.515);
}

.formcontainer form div{
    display: inline-block;
}


.formcontainer form *{
    padding: 0.63rem;
    border:1.3px solid grey;
    border-radius: 6px;
}
.formcontainer form div .logindetails{
    border:none;
    font-size:0.9rem;
    font-family: "Noto Sans Ethiopic", sans-serif;
}
.formcontainer form div input{
    width:100%;
    
    font-family: "Noto Sans Ethiopic", sans-serif;
    font-size: 1rem;
    
    
}
.formcontainer form div input:focus{
    
    outline:1px solid var(--primary-blue);
    
}

.formcontainer form #date{
    width:30%;
    font-family: "Noto Sans Ethiopic", sans-serif;
    font-size: 1rem;
}
.formcontainer form #date:focus{
    outline:none;
    border:1px solid var(--primary-blue);
}
.formcontainer form div{
    display: flex;
    justify-content: start;
    width:48%;
    padding:0;
}
.formcontainer form button{
    background-color: var(--primary-blue);
    color:white;
    font-family: "Noto Sans Ethiopic", sans-serif;
    font-size: 1rem;
    width: 11rem;
    border:none;
    border-radius: 4px;
    transition-property: all;
    transition-duration: 0.5s;
}
.formcontainer form button:hover{
    background-color: #009be3;
}
.formcontainer form div i{
    border: none;
    color:rgb(114, 114, 114);
    font-size: 1rem;
    padding-top:13px;
}


.hotelsselect{
    margin: auto;
    width: 68rem;
}
.hotelsselect .hstitle{
    
    margin-top: 6rem;
    height: fit-content;
    
}
.hotelsselect .hstitle section{
    
    width:fit-content;
    text-align: center;
    margin: auto;
}
.hotelsselect .hstitle section h3{
    color:var(--text);
    font-family: "Noto Sans Ethiopic", sans-serif ;
    font-size: 1.4rem;
    font-weight: 650;
    letter-spacing: -0.5px;
}
.hotelsselect .hstitle section p{
    color: var(--text);
    font-family: "Noto Sans Ethiopic", sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
    margin-top: -0.1rem;
}

.hotelsselect .hstitle section hr{
    height: 3px;
    background-color: var(--primary-blue);
    border:none;
    display: inline-block;
    margin: auto;
    margin-top: 1rem;
    width:4rem;
    
}





.pcontain{
    max-width: 10rem;
    
}

.pophot{
    
    margin-top:2rem;
    display: flex;
    
    justify-content: center;
}
.pophot .pcontain{
    
    display: inline-block;
    
    border:2px solid var(--primary-blue);
    border-radius: 4px;
    text-align: center;
}
.pcontain h4{
    font-size: 1.15rem;
    color: inherit;
    font-family: "Noto Sans Ethiopic", sans-serif;

}
.pcontain p{
    color:#717171;
    font-family: "Noto Sans Ethiopic", sans-serif;
    margin: 0.65rem 0 0.2rem;
    font-size: 1rem;
    font-family: "Fira Sans Condensed", sans-serif;
}
.pophot section{
    
   
    display: flex;
    gap:1rem;
    justify-content: center;
    width: 60rem;
}
.pcontain a{
    display: inline-block;
    color: var(--primary-blue);
    padding:0.6rem 1rem;
    transition: all 0.6s;
}

.pcontain a:hover{
    background-color: var(--primary-blue);
    color:white;
    p{
        color: inherit;
    }
}










#hstitle2{
    margin-top: 5rem;
}
.dealstemp{
    margin-top: 1rem;
    
    
}

.todaysdeals{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    gap:1.5rem;
    
    margin:auto;
   
    justify-content: center;
    
}

.dealscontainer{
    /* background-color: rgba(224, 255, 255, 0.487); */
    height:19rem;
    width:20rem;
    display: inline-block;
    position: relative;
    z-index: 2;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dealscontainer .imgdiv{
    height:70%;
    width:100%;
}
.dealscontainer .imgdiv .imagedarkener{

}
.content{
    padding:1rem;
    border:1px solid #bcbcbc;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    background-color: white;
    transition:all 1s;

}
.content:hover{
    background-color: #ecf9ff;
}
.content h3{
    
    color: var(--primary-blue);
    font-family: "Noto Sans Ethiopic", sans-serif;
    font-weight:600;
}
.content p{
    color:#626262;
    font-family: "Noto Sans Ethiopic", sans-serif;
    margin: 0.65rem 0 0.2rem;
    font-size: 1rem;
    font-family: "Noto Sans Ethiopic", sans-serif;
}
.imgdiv .imgdarkener{
    height: 100%;
    width:100%;
    
    transition: all 0.7s;
   
    
}
.imgdiv .imgdarkener:hover{
    background-color: rgba(0, 0, 0, 0.331);
}

.discounttag{
    font-family:"Noto Sans Ethiopic", sans-serif;
    font-size:1rem;
    padding: 3px 1rem;
    position: absolute;
    top:0.7rem;
    left:-0.5rem;
    color:white;
    display: inline-block;
    background-color: #fc8233;
}
.discounttag span{
    font-family: "Fira Sans Condensed", cursive;
    font-size:1.3rem ;
    font-weight: 550;
}

#img1{
    background-image: url(Images/supplier_0r9hwucozo_1_562x422.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
#img2{
    background-image: url(Images/464687464_122192822696193951_8796286279686441155_n.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
#img3{
    background-image: url(Images/supplier_9nrkna1hbh_0_562x422.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
#img4{
    background-image: url(Images/hotel_buddiez_resort_7c87e6_16_562x422.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
#img5{
    background-image: url(Images/supplier_rh0fczyxmn_7_562x422.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
#img6{
    background-image: url(Images/464471942_122192822834193951_6236519202609933235_n.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.popcite{
    
    
    margin-top: 3rem;
    
}
.citecontainer{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2rem;
    
    margin: auto;
}


.contentcont{
    
    height:16.5rem;
    width:20.5rem;
    border-radius:4px;
    
}
.imgcont{
    height: inherit;
    background-image: url(Images/lagos_city1.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    width:inherit;
    position: relative;
    border-radius: inherit;
    overflow: hidden;
}
.imgdark{
    height:inherit;
    width:inherit;
    background-color: #00000066;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgdark p{
    font-family: "Noto Sans Ethiopic", sans-serif;
    font-size: 1.35rem;
    color:white;

}
.imgdark h3{
    font-size:1.45rem;
    font-weight: 550;
}
.imgdark div{
    text-align: center;
}
.slider{
    
    height: fit-content;
    width: 100%;
    position: absolute;
    bottom: 0;
    transition: all 0.3s;
    
}
.slider:hover{
    /* top:-5.2rem; */
    .hid{
        transform: scaleY(1);
    }
    
}
.empty{
    
    height: 16.5rem;
}
.hid{
    background-color: rgba(0, 0, 0, 0.52);
    padding: 1rem;
    text-align: center;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: all 0.2s;
}
.hid button{
    padding: 1rem;
    font-size: 0.95rem;
    font-weight: 600;
    color:white;
    font-family: "Noto Sans Ethiopic", sans-serif;
    border:1.5px solid white;
    border-radius: 5px;
    transition: all 0.2s;
    background-color: rgba(0, 0, 0, 0);
    
}
.hid button:hover{
    background-color: var(--primary-blue);
    border:none;
    font-weight: 550;
    
}
#i2{
    background-image: url(Images/abuja_city1.jpg);
}
#i3{
    background-image: url(Images/crossriver_city1.jpg);
}
#i4{
    background-image: url(Images/port-harcourt_city1.jpg);
}
#i5{
    background-image: url(Images/owerri_city1.jpg);
}
#i6{
    background-image: url(Images/uyo_city1.jpg);
}
#hstitle3, #hstitle4{
    margin-top: 4rem;
}

.hotlist{
    margin-top:1rem ;
    padding:0 2rem;
}
.hotcont{
    
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    
    gap:0.7rem;
    
}
.hotcont div{
    
    
    width:11rem;
}

.hotcont h4{
    font-family: "Noto Sans Ethiopic", sans-serif;
    font-size: 1rem;
    color:var(--primary-blue);
    padding:2px;
}
.hotcont p{
    font-size: 0.83rem;
    font-family: "Noto Sans Ethiopic", sans-serif;
    padding:2px;
}


.subdeals{
    padding:2rem;
    margin-top:4rem;
    padding-bottom: 0;
    background-color: #fafafa;
    text-align: center;
}
.subdeals h2{
    margin:0.8rem;
    color:#4f4f4f;
    font-size: 1.8rem;
    font-weight:600;
    letter-spacing: -0.5px;
    word-spacing: -0.5px;
    font-family: "Noto Sans Ethiopic", sans-serif;
    
}
.subdeals p{
    font-size: 1rem;
    color:var(--text);
    font-family: "Noto Sans Ethiopic", sans-serif;
    letter-spacing: 0.3px;
}
.subdeals form{
    border:none;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 1rem;
    padding-bottom: 3rem;
    box-shadow: none;
    z-index: unset;
}
.subdeals input{
    width: 30rem;
    border-radius: 4px;
    border:1px solid #b5b4b4;
    font-size: 0.95rem;
    padding:0.5rem 2rem;
    color:var(--text);
    font-family: "Noto Sans Ethiopic";
}
.subdeals input:focus{
    border: 1.5px solid var(--primary-blue);
    outline: none;
}
.subdeals button{
    width:7.5rem;
    background-color: var(--primary-blue);
    padding: 0.55rem;
    font-size: 0.95rem;
    font-family: "Noto Sans Ethiopic";
    color:white;
    border:none;
    border-radius: 4px;
    margin-left:0.3rem;
    transition: all 0.5s;
}
.subdeals button:hover{
    background-color: #009be3;
}

#whichcit{
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.features{
    display: flex;
    justify-content: center;
    padding:0 10rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
}
.featcont{
    max-width: 70rem;
    min-width: 65rem;
    width:90%;
    
    display: flex;
}
.fcont{
    padding:1rem;
    width:25%;
    
}
.fcont img{
    width:75%;
    
}
.newsweek{
    width:100%;
}
#africa{
    display: flex;
    align-items: center;
    justify-content: center;
}

.getmore{
    
    text-align: center;
}
.getmore *{
    margin: 1.5rem;
}
.getmore h2{
    font-size: 1.8rem;
    font-family: "Noto Sans Ethiopic", sans-serif;
    font-weight:600;
    letter-spacing: -1px;
    color: #4f4f4f;

}
.getmore p{
    font-size: 1.1rem;
    font-family: "Noto Sans Ethiopic", sans-serif;
    color: var(--text);
}
.getmore button{
    font-size: 1rem;
    font-family: "Noto Sans Ethiopic", sans-serif;
    color: white;
    border:none;
    border-radius: 3px;
    background-color: var(--primary-blue);
    padding:0.5rem;
    width:13rem;
    transition: all 0.5s;
}
.getmore button:hover{
    background-color: #009be3;
}

.maincont{
    margin: auto;
    
    display: flex;
    
}

.phoneapp{
    padding:5rem 12rem 0;
    background-color: #eff8fb;
    height: fit-content;
    
    
    display: flex;
    justify-content: center;
}
#phoneimg{
    
    display: inline-block;
}
.textlink{
    padding: 5rem 2rem 2rem;
    display: inline-block;
    
    
}
.textlink h1{
    color:var(--primary-blue);
    font-family: "Noto Sans Ethiopic";
    font-size: 3rem;
    font-weight:650;
    
   
    
}
.textlink h3{
    color:#626262;
    font-size: 1.3rem;
    line-height: 27px;
    margin:0.7rem 0;
}
.textlink p{
    font-size: 1rem;
    font-family: "Noto Sans Ethiopic", sans-serif;
    color: var(--text);
    
}
.textlink a{
    margin:1.5rem 0 0;
}

.unlockdeals{
    background-color: #084482;
    padding: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#lockico{
    color:var(--primary-blue);
    background-color: white;
    padding: 0.7rem;
    border-radius: 50%;
    margin:0 0.5rem;
}
.lockcontent *{
    margin:0;
}
.lockcontent h3{
    margin-bottom: 0.3rem;
    font-size: 1.1rem;
}
.lockcontent p{
    margin-top: 0.3rem;
    font-size:0.9rem;
    color:var(--primary-blue);
    font-family: "Noto Sans Ethiopic", sans-serif;
}
.unlockdeals form{
    
    margin-left: 2rem;
    gap:0;
    display: flex;
}
.unlockdeals form input{
    width:17rem;
    margin:0;
    padding:0.7rem;
    font-family: "Noto Sans Ethiopic", sans-serif;
    font-size: 0.9rem;
    border:none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.unlockdeals form input:focus{
    outline: none;
}
.unlockdeals form #lockbut{
    font-family: "Noto Sans Ethiopic", sans-serif;
    font-size: 1rem;
    width:11rem;
    padding:0.7rem;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #00aeff;
    color:white;
    transition: all 0.5s;
}
.unlockdeals form #lockbut:hover{
    background-color: #009be3;

}

footer section{
    display: flex;
    justify-content: center;
}
.tabdiv{
    padding: 0 1rem;
    width:75%;
    max-width: 70rem;
    
}
.tabcont{
    padding: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.coloumncont{
    width:100%;
    
    float: left;
}
.coloumncont h4{
    padding:3px;
    padding-left:0;
    margin-bottom: 5px;
    border-bottom:1px solid #c5c5c5;
    color:#a3a3a3;
    font-weight: 500;
    font-size: 0.9rem;
    font-family: "Noto Sans Ethiopic", sans-serif;
}
.coloumncont p{
    font-size: .9rem;
    padding:3px 0;
    color:var(--primary-blue);
    font-family: "Noto Sans Ethiopic", Arial, Helvetica, sans-serif;
}
.coloumncont p:hover{
    color: hsl(199, 100%, 40%);
}
.footcont{
    width:100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.copysocial{
    display: inline-block;
}
.copysocial *{
    color: #717171;
    
}
.copysocial p{
    font-family: "Firs Sans Normal", sans-serif;
    font-size: 0.9rem;
}
.certify{
    font-family: "Firs Sans Normal", sans-serif;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    gap:1rem;
    color: #505050;
}
.certify img{
    width:3rem;
    
}
#demacate{
    border: none;
    height: 1px;
    background-color:#b9b9b9;
}


/* MEDIA QUERIES */




@media  screen and (max-width:1120px) {
    header .formcontainer{
        width:100%;
        
    }
    .formcontainer form{
        
        width: 100%;
    }
    .hotelsselect{
        width: 100%;
    }
    .features,#hstitle4{
        display: none;
    }
    
}
@media screen and (max-width:880px) {
    
    .pophot section{
        display: flex;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
    }
    .phoneapp *{
        display: block;
    }
    .dropdown .contactlist{
        width:2rem;
        background-color: rgba(0, 0, 0, 0);
    }
    .dropdown p,.dropdown span{
        display: none;
    }
}

@media screen and (max-width:720px) {
   
    
    .dealstemp,.todaysdeals,.popcite,.citecontainer{
        width: 100%;
        padding: 1rem;
        margin: 0;
        display: block;
    }
    .dealscontainer,.contentcont{
        width: 100%;
        height: 70vh;
        margin: 1rem 0;

    }
    .hotcont{
        justify-content: center;
    }
    .subdeals input{
        width: auto;
        margin-bottom: 1rem;
    }



}



@media screen and (max-width:550px) {

    footer,#date,#phoneimg,nav ul,.hotlist{
        display: none;
    }
    
        
    .phoneapp,.maincont{
        margin:0;
        padding:0;
    }
    .textlink{
        width: 100%;
    }
    .formcontainer{
        padding: 0;
        margin: 0;
    }
    .headerform #fnd{
        width: 30%;
        
        font-size: auto;
       
    }
    
    .headerform div{
        width: 70%;
        
    }
    
}
@media  (min-width:1300px) and (max-width:13000px) {
    header{
        height: 50vh;
    }
    .forheaderimg{
        height:100%;
    }
}